.cardSize{
    width: 18rem;
    height: 100%;
}

@media (max-width: 992px){
    /* .cardSize{
        width: 50%;
        height: 70vh;
    } */
}

@media (max-width: 767px){
    .cardSize{
        width: 97%;
        height: 100%;
    }
}