.firstSec {
    
    background-image: url(../../assets/Blog/ayush.webp);
    background-size: cover;
    background-position:50% 20%; 
    background-repeat: no-repeat;
  }
 
@media (min-width: 768px) {
  .position-md-absolute {
    position: absolute !important;
  }
}

@media (min-width: 768px) {
  .resp{
    margin-top: 35%;
  }
}