.phButtonStyle {
  position: fixed;
  bottom: 20px;
  right: 20px;

  border: none;
  border-radius: 50%;

  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #b9de22 !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.3s;
  z-index: 9;
}

.phButtonStyle:hover {
  transform: scale(1.15);
}

.phIconStyle {
  color: white;
}
